.circle {
    display:inline-block;
    line-height:0;
    border-radius:50%;
    border:2px solid;
    font-size:32px;
    margin-right: 15px;
    margin-top: 30px;
    width: 50px;
    height: 50px;

}

.number {
    display:inline-block;
    padding-top:25px;
    padding-bottom:30px;
    margin-left:8px;
    margin-right:8px;
}

